body {
  background-color: #e0f7f7;
  color: #333;
}

.App-header {
  text-align: center;
  margin: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

button[disabled] {
  background-color: grey;
  cursor: not-allowed;
}

.table-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
}

.difficulty-buttons {
  flex: 1;
  margin-left: 20px;
  text-align: left;
}

.difficulty-buttons p {
  font-size: 1.5em;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.expandable-table-container {
  width: 65%;
}

.expandable-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #fff;
  max-height: 300px;
  overflow-y: scroll;
  display: block;
}

.expandable-table th, .expandable-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.expandable-table th {
  background-color: #cc5500;
  color: white;
}

.highlighted {
  background-color: #cc5500;
  color: white;
}

.answer-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.answer-section .left-side, .answer-section .right-side {
  width: 45%;
}

.answer-section input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
}

button[disabled] {
  background-color: grey;
  cursor: not-allowed;
}
